[main]
src_linux=/usr/src/linux
boot_path=/boot
mbr_hdd=/dev/sda
boot_partition=/dev/sda6
boot_partition_grub=hd0,5
root_partition=/dev/sda8
boot_params=
grub_conf=/boot/grub/grub.conf
remount_boot=false
max_kernels=5
remount_boot=False
external_tool=/usr/bin/emerge -v1 app-emulation/virtualbox-modules
